* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    }
  
  body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     }
  
  .page-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 767px) {
      .page-wrap {
        width: 600px; } 
    }
  
  #main {
    background: #42a6c9;
    margin: 40px auto;
    padding: 2rem; 
    opacity: .8;
    }
  
  #page_footer {
    padding: 1rem;
    text-align: center; 
    }
  
  body {
    font-family: "Muli", sans-serif;
    font-size: 1.6rem; 
    }
  
  p {
    font-family: 'Rancho', cursive;
    font-size: 35px;
    color: #c28f00;
    }
  
  h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    text-align: center; 
    color: #2e2e7d;
    }
  
  
  a {
    color: #5A6380;
    text-decoration: none;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    a:hover {
      -webkit-box-shadow: inset 0 -2px 0 0 #5A6380;
              box-shadow: inset 0 -2px 0 0 #5A6380; }

  #santa-input{
    font-family: 'Mountains of Christmas', cursive;
    font-size: 30px;
    color: #2e2e7d;
  }
  
  textarea {
    color:  #ababc7;
    line-height: 1.25;
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s; 
    }

    textarea:focus {
      border: 2px solid #87C7C7;
      outline: none; 
    }
    
  .button {
    line-height: 1.25;
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid transparent;
    -webkit-border-radius: 3px;
            border-radius: 3px; 
    }
  
  .button-submit {
    background: #debd00;
    font-size: 1.8rem;
    color: #2e2e7d;
    -webkit-transition: background 0.2s;
    transition: background 0.2s; 
    }

    .button-submit:hover, .button-submit:focus {
      background: #2e2e7d;
      outline: none; }
  
  .form-actions {
    padding-top: 20px;
    text-align: center; }
  
  
  dl {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    overflow: hidden; }
  
  dt,
  dd {
    display: inline-block;
    float: left; }
  
  dt {
    padding: 0.5rem;
    font-weight: bold;
    line-height: 1rem;
    clear: left;
    background:  #ffc959; }
  
  dd {
    margin-left: 4px;
    margin-bottom: 10px; }
    dd strong {
      display: inline-block;
      padding: 0.5rem;
      line-height: 1rem;
      background: #4cd1db; }
  